---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Video from "../components/Video.astro";
import Intro from "../components/Intro.astro";
import Beto from "../components/Beto.astro";
import PreFooter from "../components/PreFooter.astro";
import Footer from "../components/Footer.astro";
---

<Layout
    title="Premios Esland 2022 - Pogramadores"
    description="Descubre a los mejores programadores de spain and Latan"
>
    <Video />
    <main>
        <Intro />
        <Beto />
        <PreFooter />
    </main>
    <Footer />
</Layout>
<style></style>
